:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
  padding: 24px;
  background-color: white;
  border: 1px solid grey;
  border-radius: 4px;
}

.message {
  padding: 0;
  font-size: 1.5rem;
  font-weight: 600;
}
